:root {
    --dark-purple: #130114;
    --lighter-purple: #AFA2FF;
    --lightest-purple: #E3D7FF;
    --grey: #5E6472;
    --white: #fff;
    --teal: #87b6a7;
}




html {
    background-color: var(--dark-purple);
    font-size: 20px;
}

body {
    position: relative;
    color: var(--white);
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0;
    height: 100vh;
}

a.nav {
    font-family: 'Montserrat', serif;
    font-weight: 100;
    color: var(--lighter-purple);
    font-size: 25px;
    text-decoration: none;
    padding-right: 2%;
    margin: 3px;

}

a.nav:visited {
    color: var(--lightest-purple);
    filter: none;
}

a.nav:hover {
    color: var(--dark-purple);
    filter: none;
}



#all-nav {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 50px;
    background-color: var(--grey);
    top: 0;
    left: 0;
    right: 0;
    line-height: 50px;
    z-index: 2;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    line-height: 40px;
    color: #E3D7FF;
    ;
}

.important {
    color: #87b6a7;
    font-family: 'Montserrat';
    font-size: 1.2rem;

}


img.socialicon {
    max-height: 45px;

}

#social-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 5;
    position: fixed;
    bottom: 0%;
    height: 300px;
    width: 80px;
    left: -100px;
    background-color: var(--teal);
    border-top-right-radius: 10% 10px;
}

#social-footer.show-nav {
    transform: translateX(100px);
    transition: all 1.2s;

}

#social-footer {
    transform: translateX(-100px);
    transition: all 1.2s;

}

#social-footer.show-nav+div {
    transform: rotate(-180deg);
    transition: all 1.2s;
}

#social-footer+div {
    transform: rotate(0deg);
    transition: all 1.2s;
}


div.circle {
    position: fixed;
    bottom: -6%;
    left: -2%;
    height: 100px;
    width: 100px;
    background-color: var(--white);
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
}



.circle button {
    cursor: pointer;
    position: absolute;
    bottom: 60%;
    left: 20%;
    width: 20px;
    height: 20px;
    border: 0;
    z-index: 3;
    background: transparent;
}

.circle button>img {
    width: 25px;
    height: 25px;
}

.circle button#close {
    top: 55%;
    left: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.circle button#open {
    left: 35%;
    bottom: 65%;
}

/*styles below are particular to the page*/


#form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form {
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
}

#form h2 {
    font-size: 50px;
    margin: 5px 0;
    color: var(--lightest-purple)
}

#form p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-width: 400px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: var(--lightest-purple)
}

textarea {
    max-width: 600px;
    width: 400px;
    height: 200px;
    outline: none;
}

textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    color: white;
    margin: 15px 0;
    outline: none;
    color: var(--lightest-purple)
}

label {
    color: var(--lightest-purple)
}

#acceptedText {
    font-size: 12px;
}

#sendButton {
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--grey);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}



.fade-out {
    Width: 100%;
    height: 10%;
    color: var(--lightest-purple);
    animation: fadeOut 6s;
    -webkit-animation: fadeOut 6s;
    -moz-animation: fadeOut 6s;
    -o-animation: fadeOut 6s;
    -ms-animation: fadeOut 6s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}