:root {
  --dark-purple: #001d3d;
  --lighter-purple: #6e7dab;
  --lightest-purple: #efecca;
  --grey: #1b4965;
  --white: #fff;
  --teal: #ffd07b;
}

body {
  height: 100%;
  font-size: 20px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  white-space: nowrap;
}
.title span {
  display: inline-block;
  padding: 2px;
  font-size: 3rem;
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-100vh);
  animation: fall 0.3s forwards;
}

.shadow {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  z-index: -2;
  color: var(--grey);
  filter: blur(3px);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  white-space: nowrap;
}

.shadow span {
  display: inline-block;
  padding: 2px;
  font-size: 3rem;
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.title span:nth-child(2),
.shadow span:nth-child(2) {
  padding-right: 30px;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
.title span:nth-child(2) {
  animation-delay: 0.2s;
}

.title span:nth-child(3) {
  animation-delay: 0.4s;
}
.title span:nth-child(4) {
  animation-delay: 0.6s;
}
.title span:nth-child(5) {
  animation-delay: 0.8s;
}
.title span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

nav > span {
  padding: 0px 7px;
  margin-right: auto;
  font-size: 38px;
}

#worksamplecontainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 30%;
  height: 70vh;
  width: 100vw;
}

.worksample {
  display: none;
  justify-content: center;
  opacity: 0;
}

.worksample.active {
  margin: auto;
  position: relative;
  overflow: hidden;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

img.sample {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* div > img {
  object-fit: cover;
} */

div.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  bottom: 20;
  background-color: var(--grey);
  transition: all 1s ease-in-out;
  padding: 20px;
  max-width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.worksample.active:hover .description {
  transform: translateY(0%);
}

.arrow {
  background-color: transparent;
  width: 100px;
  border: none;
  cursor: pointer;
}

.arrow:active {
  transition: 0.2s;
  transform: scale(0.6);
}

.arrow img {
  width: 100px;
}

#left-arrow {
  right: calc(100vw - 100px);
  filter: invert(60%) sepia(51%) saturate(7189%) hue-rotate(23deg)
    brightness(94%) contrast(88%);
}

#right-arrow {
  left: calc(100vw - 100px);
  filter: invert(60%) sepia(51%) saturate(7189%) hue-rotate(23deg)
    brightness(94%) contrast(88%);
}

@media (max-width: 894px) {
}
