:root {
  --navy: #001d3d;
  --light-blue: #6e7dab;
  --lightest-yellow: #efecca;
  --blue: #1b4965;
  --white: #fff;
  --mid-yellow: #ffd07b;
  --goldenrod: #b1740f;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  color: var(--lightest-yellow);
  box-sizing: border-box;
}

body {
  background-color: var(--navy);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a.nav,
span.nav {
  font-family: "Montserrat", sans-serif;
  color: var(--lightest-yellow);
  font-size: 1.5rem;
  line-height: 50px;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
  text-transform: uppercase;
}
a.nav:last-child {
  padding-right: 15px;
}

a.nav:hover {
  color: var(--goldenrod);
  filter: none;
}

#all-nav {
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  width: 100%;
  line-height: 50px;
  z-index: 2;
  border-bottom: 4px solid var(--goldenrod);
  background-color: var(--blue);
}

/* #nav-menu {
  width: 200px;
  height: 200px;
  display: flex;
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
} */

.toggleOn {
  display: flex;
}
.toggleOff {
  display: none;
}

#menulines {
  background-color: transparent;
  border: none;
  cursor: pointer;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

#menulines img {
  width: 30px;
  filter: invert(61%) sepia(60%) saturate(6686%) hue-rotate(24deg)
    brightness(95%) contrast(88%);
}
span.name {
  padding: 0px 7px;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 600;
}

/*footer {
  position: fixed;
  bottom: 0;
  right: 0;
  line-height: 40px;
  color: #E3D7FF;
  ;
}*/

.important {
  color: var(--goldenrod);
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 600;
}

img.socialicon {
  max-height: 45px;
  filter: invert(8%) sepia(32%) saturate(6027%) hue-rotate(198deg)
    brightness(92%) contrast(103%);
}

#social-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 5;
  position: fixed;
  bottom: 0%;
  height: 300px;
  width: 80px;
  left: -100px;
  background-color: var(--mid-yellow);
  border-top-right-radius: 10% 10px;
}

#social-footer.show-nav {
  transform: translateX(100px);
  transition: all 1.2s;
}

#social-footer {
  transform: translateX(-100px);
  transition: all 1.2s;
}

#social-footer.show-nav + div {
  transform: rotate(-180deg);
  transition: all 1.2s;
}

#social-footer + div {
  transform: rotate(0deg);
  transition: all 1.2s;
}

div.circle {
  position: fixed;
  bottom: -55px;
  left: -20px;
  height: 100px;
  width: 100px;
  background-color: var(--lightest-yellow);
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
}

.circle button {
  cursor: pointer;
  position: absolute;
  bottom: 60%;
  left: 20%;
  width: 20px;
  height: 20px;
  border: 0;
  z-index: 3;
  background: transparent;
}

.circle button > img {
  width: 25px;
  height: 25px;
}

.circle button#close {
  top: 55%;
  left: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
  filter: invert(8%) sepia(32%) saturate(6027%) hue-rotate(198deg)
    brightness(92%) contrast(103%);
}

.circle button#open {
  left: 35%;
  bottom: 65%;
  filter: invert(8%) sepia(32%) saturate(6027%) hue-rotate(198deg)
    brightness(92%) contrast(103%);
}

/* below this line is styles specific to index page */

#body-square {
  margin: auto;
  max-width: 80vw;
}

.headshot {
  padding: 3px;
  width: 200px;
  border-radius: 45%;
  float: right;
  z-index: -1;
}

.headshot {
  float: right;
  background-image: url("./assets/ksheadshot.jpg");
  background-size: 250px;
  background-color: blue;
  /* -webkit-clip-path: polygon(10% 0, 150% 35%, 100% 65%, 0% 80%);
  clip-path: polygon(5% 0, 105% 35%, 120% 35%, 0% 80%); */
  height: 250px;
  width: 250px;
  /* transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: poly 10s ease-in-out infinite; */
  /* &:hover {
      // animation: unset;
      filter: hue-rotate(50deg);
   }  */
}

/* @keyframes poly {
  0% {
    -webkit-clip-path: polygon(10% 0, 150% 35%, 100% 65%, 0% 80%);
    clip-path: polygon(10% 0, 150% 35%, 100% 65%, 0% 80%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 35%, 100% 65%, 10% 100%);
    clip-path: polygon(0 0, 100% 35%, 100% 105%, 10% 100%);
  }
  100% {
    -webkit-clip-path: polygon(10% 0, 150% 35%, 100% 65%, 0% 80%);
    clip-path: polygon(10% 0, 150% 35%, 100% 65%, 0% 80%);
  }
} */

#introduction {
  text-align: right;
  padding-right: 3%;
  padding-top: 3%;
  font-size: 1.8rem;
  color: var(--light-blue);
  max-width: 80vw;
}

#greetingreveal {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 3rem;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 40px;
}

h1 span {
  font-size: 40px;
  margin-left: 180px;
}

.message {
  background-color: var(--blue);
  color: var(--mid-yellow);
  display: block;
  overflow: hidden;
  position: absolute;
  padding-left: 0rem;
  top: 0.5rem;
  animation: openclose 7s ease-in-out infinite;
  text-transform: uppercase;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  6.25% {
    width: 380px;
  }

  12.5% {
    top: 0.2rem;
    width: 380px;
  }

  18.75% {
    top: 0.2rem;
    width: 0;
  }

  25% {
    top: -4.3rem;
    width: 0;
  }

  31.25% {
    top: -4.3rem;
    width: 380px;
  }

  37.5% {
    top: -4.3rem;
    width: 380px;
  }

  43.75% {
    top: -4.3rem;
    width: 0px;
  }

  50% {
    top: -9rem;
    width: 0;
  }

  56.25% {
    top: -9rem;
    width: 380px;
  }

  62.5% {
    top: -9rem;
    width: 380px;
  }

  68.75% {
    top: -9rem;
    width: 0px;
  }

  75% {
    top: -13.6rem;
    width: 0;
  }

  81.25% {
    top: -13.6rem;
    width: 380px;
  }

  87.5% {
    top: -13.6rem;
    width: 380px;
  }

  93.75% {
    top: -13.6rem;
    width: 0px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

#social-blocks {
  width: 80vw;
  margin: auto;
  display: flex;
  height: 200px;

  justify-content: space-between;
  align-items: center;
}

.blocks {
  position: relative;
  width: 30%;
  height: 150px;
  background-color: var(--blue);
  color: var(--lightest-yellow);
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.blocks p {
  line-height: 150px;
  margin: 0;
  filter: drop-shadow(2px 2px);
}

.blocks p:hover {
  filter: none;
  transition: 0.2s ease;
  font-size: 1px;
}
.overlay-active {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(110, 125, 171, 0.4);
}
.socialblocklink {
  display: inline-block;
  text-decoration: none;
  color: var(--lightest-yellow);
  width: 100%;
  height: 100%;
}

@media (max-width: 887px) {
  #menulines > img {
    visibility: visible;
    transition: all 0.5s ease;
  }

  #menulines > img.active {
    margin-right: 20px;
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform 0.5s ease;
  }

  #social-blocks {
    flex-direction: column;
    gap: 20px;
  }
  .blocks {
    width: 80vw;
  }

  span.nav {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 150px;
    height: 200px;
    top: 50px;
    right: 0px;
    background-color: rgba(27, 73, 101, 0.5);
    border-radius: 0px 0px 0px 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  #nav-menu.active {
    transform: translateX(0%);
  }

  #nav-menu.active > a.nav {
    transform: translateX(0%);
    transition: transform 0.4s ease;
    transition-delay: 0.2s;
  }
}

/* #greetingreveal {
font-size: 2rem;
width: 60%;
line-height: 1;
} */

@media (max-width: 1122px) {
  a.nav,
  span.nav {
    font-size: 0.9rem;
    padding-right: 10px;
  }
  a.nav:last-child {
    padding-right: 10px;
  }
}

/* 
position: fixed;
top: 50px;
bottom: 0;
opacity: 0;
visibility: hidden;
left: 0;
right: 0; */
